* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

#root {
  width: 511px;
  height: 450px;
  background-color: #0B2434;
  margin: 60px auto;
  padding: 20px;
}

main {
  background-color: #F5F5F5;
  height: 400px;
  max-width: 800px;
  border-radius: 10px;
}
